<div>
  <h2>Example App for Action Cable</h2>
  
  <p>
    Based on:
    <a href="https://blog.heroku.com/real_time_rails_implementing_websockets_in_rails_5_with_action_cable" target="_blank">
      Heroku - Real Time Rails: Implementing WebSockets in Rails 5 with Action Cable
    </a>  
  </p>
</div>
